<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" media="all" href="style.css"/>
    </head>

    <body>
        <div class='header' th:include="header::header"></div>

        <div th:include="letterhead::letterhead"></div>

        <h1 th:text="#{title}"></h1>

        <p>Dear [[${data.getFirstName()}]] [[${data.getLastName()}]],</p>

        <p th:text="#{greeting}"></p>
        
        <div th:text="#{helloworld}"></div>
       
        <p th:text="#{text.p2}"></p>

        <div class='footer' th:include="footer::footer"></div>

        <div class="next-page">

            <h2>More Information</h2>

            <p th:text="#{text.p1}"></p>
            <p>Texto "a fuego" en el HTML</p>
			<p th:text="#{text.p1}"></p>
            <p th:text="#{text.p1}"></p>

        </div>

        <div class='footer' th:include="footer::footer"></div>
    </body>

</html>