<div th:fragment="letterhead">
    <table>
        <tr class="address-block">
            <td></td>
            <td class="bottom right">
                <strong>Securitas Direct Example Project</strong><br>
                Pri&eacute;gola 1<br>
                28022 Pozuelo de Alarc&oacute;n<br>
                <br>
                <b>Phone:</b> 0100 1234 1111<br>
                <b>E-Mail:</b> example@securitasdirect.es<br>
            </td>
        </tr>
        <tr class="address-block">
            <td class="bottom">
                <strong>[[${data.getFirstName()}]] [[${data.getLastName()}]]</strong><br>
                [[${data.getStreet()}]]<br>
                [[${data.getZipCode()}]] [[${data.getCity()}]]<br>
            </td>
            <td class="bottom right">
                Madrid, 25. June 2020
            </td>
        </tr>
    </table>
    <hr>
</div>